</div>
<div class="bottom-container footer">
                    <a class="footer-link" href="https://www.linkedin.com/in/nikhil-sahlot-21b6701b4?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BqMm7K7J6Rv6KuPWWSRW%2FFQ%3D%3D">LinkedIn</a>

                    <a class="footer-link"
                        href="https://lovely-paprenjak-dc1e8d.netlify.app">Website</a>
                        <a class="footer-link" href="mailto:nikhilsahlot2001@gmail.com">Email Me</a>
                        <p style="background-color: #1abc9c;margin-top: 0px;" >Made with ❤️ by Nikhil Sahlot</p>
                    
                </div>
              
                </div>
</body>
</html>
