<%- include("partials/header"); -%>
<h1>About</h1>
<p style="font-size: 18px;color: #1abc9c">
  Welcome to my blog! My name is Nikhil Sahlot and I am the writer, editor, and creator
  behind this site. I started this blog as a way to share my passion for Coding
  with others, and to connect with like-minded people who share my interests. I
  have always been fascinated by Programming, and I have spent many years learning
  about it and exploring it in my own time. I am doing B-Tech from Srm University and this is my 
  Fourth year. I am
  constantly learning and growing, and I love sharing what I have learned with
  others. My goal with this blog is to provide different facts about Coding. I want to provide
  valuable information and resources to my readers, and to create a supportive
  and engaging community where we can all learn and grow together. Thank you for
  stopping by and taking the time to learn more about me and my blog. I hope you
  will join me on this journey and become a part of this community. If you have
  any questions or suggestions, please don't hesitate to contact me through my social media accounts.<br>
   Best regards,<br> Nikhil Sahlot.
</p>

<%- include("partials/aboutfooter"); -%>
