<%- include("partials/header"); -%>
<h1>Contact</h1>
<p style="color: #1abc9c;font-size:18px">
  Thank you for visiting my blog! If you have any questions, comments, or just
  want to say hello, feel free to reach out to me using links below. I would
  love to hear from you. You can also find me on social media. Links to my
  profiles can be found at the bottom of the page. I try my best to respond to
  all messages within a few days, but please bear with me if it takes a little
  longer. I appreciate your patience.<br> I look forward to connecting with you!
</p>

<h2 style="font-size: 25px;">Subscribe to this Blog to get updates of new Post ⬇️</h2>
<a class="btn" href="https://super-bull-trunks.cyclic.app">Subscribe</a>
<%- include("partials/aboutfooter"); -%>
