html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.btn {
    background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #0b41ad);
  background-image: -moz-linear-gradient(top, #3498db, #0b41ad);
  background-image: -ms-linear-gradient(top, #3498db, #0b41ad);
  background-image: -o-linear-gradient(top, #3498db, #0b41ad);
  background-image: linear-gradient(to bottom, #3498db, #0b41ad);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.btn:hover {
   background: #11999e;
  background-image: -webkit-linear-gradient(top, #11999e, #3498db);
  background-image: -moz-linear-gradient(top, #11999e, #3498db);
  background-image: -ms-linear-gradient(top, #11999e, #3498db);
  background-image: -o-linear-gradient(top, #11999e, #3498db);
  background-image: linear-gradient(to bottom, #11999e, #3498db);
  text-decoration: none;
  border-radius: 50px;
}
.bottom-container {
 background-color: #1abc9c;
  font-size: 20px;

  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.footer-link {
  color: #11999e;
  margin: 20px 20px 20px 20px;
}